button {
  outline: none;
  cursor: pointer;
  min-width: 200px;
  color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 15px;
  opacity: 0.4;
}

button[data-action="show"] {
  background-color: red;
}

button[data-action="hide"] {
  background-color: gray;
}

.active {
  opacity: 0.7;
}

.active:hover {
  opacity: 1;
}

div.list-container {
  overflow: hidden;
  transition: height 0.3s ease-out;
  margin-left:20px;
}

li {
  height: 20px;
  /* width: 300px; */
  vertical-align: middle;
  list-style: none; 
  overflow: hidden;
  transition: height 0.3s ease-out;
}


li.clean {
  height: 0px;
}

li input {
  cursor: pointer;
}

button[data-action="add"] {
  background-color: rgb(29, 161, 161);
}

div.add-list {
  margin-left: 30px;
  max-width: 200px;
  overflow: hidden;  
  transition: height 0.3s ease-out;
  text-align: center;
}

div.close {
  height: 0px;
}

div.open {
  height: 150px;
}

form input {
  outline: none;
  border: 1px solid rgb(29, 161, 161);
  height: 20px;
  border-radius: 20px;
}

input[type='text'] {
  margin-top: 20px;
  text-indent: 10px;
}

input[type='submit']  {
  margin-top: 10px;
  cursor: pointer;
}

input[type='button'] {
  cursor: pointer;
}

main {
  display: flex;
}

