button {
  outline: none;
  cursor: pointer;
  min-width: 200px;
  color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 15px;
  opacity: 0.4;
}

button[data-action="show"] {
  background-color: red;
}

button[data-action="hide"] {
  background-color: gray;
}

.active {
  opacity: 0.7;
}

.active:hover {
  opacity: 1;
}

div.list-container {
  overflow: hidden;
  transition: height 0.3s ease-in;
}
/* 
div.show {
  height: 200px;
}

div.hide {
  height: 35px;
} */

span {
  margin-left: 50px;
  font-weight: 600;
}

li {
  margin-top: 0px;
  height: 20px;
  width: 300px;
  vertical-align: middle;
  list-style: none; 
  overflow: hidden;
  transition: height 0.3s ease-in;
}

li.clean {
  height: 0px;
}

li input:hover {
  cursor: pointer;
}

ul {
  padding-left: 20px;
}

.delete {
  margin-left: 10px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  opacity: .6;
}

button[data-action="add"] {
  background-color: rgb(29, 161, 161);
}

div.add-list {
  display: flex;
  margin-left: 15px;
  min-width: 200px;
  overflow: hidden;  
  transition: height 0.3s ease-out;
}

div.close {
  height: 0px;
}

div.open {
  height: 70px;
}

form input {
  outline: none;
  border: 1px solid rgb(29, 161, 161);
  height: 20px;
  border-radius: 20px;
}

input[type='text'] {
  margin-top: 10px;
  margin-left: 15px;
  text-indent: 10px;
}

input[type='submit']{
  margin-left: 20px;
}

input[type='button'] {
  margin-left: 10px;
}

input[type='submit'], input[type='button'] {
  min-width: 70px;
  margin-top: 5px;
  cursor: pointer;
  background-color: rgb(29, 161, 161);
  color: #fff;
  opacity: .4;
  font-size: 900;
} 

input[type='submit']:hover, input[type='button']:hover {
  opacity: 1;
}

footer, .footer {
  height: 100px;
}
